<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur
        eum deserunt adipisci earum. Exercitationem quisquam ratione rem non
        veritatis, iusto consectetur alias modi, distinctio facilis maiores iure
        temporibus. Facilis, reiciendis.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur
        eum deserunt adipisci earum. Exercitationem quisquam ratione rem non
        veritatis, iusto consectetur alias modi, distinctio facilis maiores iure
        temporibus. Facilis, reiciendis.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur
        eum deserunt adipisci earum. Exercitationem quisquam ratione rem non
        veritatis, iusto consectetur alias modi, distinctio facilis maiores iure
        temporibus. Facilis, reiciendis.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
